{% extends 'base.html' %}

{% block title %}zulul login{% endblock %}
{% load crispy_forms_tags %}


{% block content %} 

<br><a href="{% url 'home' %}" class="block44">Home Page</a><br><br>

<form method="POST" class="form-group, block33">
    {% csrf_token %}
    {{form|crispy}}
    <p>Don't have an account? <a href="/register">Create</a></p>
    <button type="submit" class="btn btn-success">Login</button>
    
</form>

<style>
    body { background: url("https://cdn.wallpapersafari.com/92/83/0Jvgqp.png"); }
</style>


{% endblock %}